<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  	<div class="container">    
		<h1><%= title%></h1>

		<form action='/add' method="post">
			<label for="content">slogan:</label>
			<input type="text" name="content" required>
			<label for="url">author:</label>
			<input type="text" name="author" required>
			<input type="submit">
		</form>
		
		<ul>
			<% items.forEach(function(item){%>
			<li>
				
				<%= item.content %>

				------by  
				<e rel="<%= item._id %>"> <%=item.author %></e>
			</li>
			<%})%>
		</ul>
	</div>

  </body>
</html>
